# =================================================================================================
# Project: SCAN - Searching Chemical Actions and Networks
#          Hokkaido University (2021)
#          Last Update: Q2 2023
# ________________________________________________________________________________________________
# Authors: Mikael Nicander Kuwahara (Lead Developer) [2022-]
#          Jun Fujima (Former Lead Developer) [2021]
# ________________________________________________________________________________________________
# Description: This is the file that configs and manage the nginx for the project.
# ------------------------------------------------------------------------------------------------
# Notes: 
# ------------------------------------------------------------------------------------------------
# References: 
# =================================================================================================

# Logging
log_format api '$remote_addr - $remote_user [$time_local] "$request" '
    '$status $body_bytes_sent "$http_referer" '
    '"$http_user_agent" "$host" "$http_x_api_key" "$http_x_forwarded_for"';

# redirect
server {
  listen 80;
  server_name _;
  server_tokens off;

  return 301 https://$host$request_uri;
}

# Make sure the filenames of the ssl certs are correct, the paths are fine and can be left as is
server {
    # listen 0.0.0.0:80;
    listen 0.0.0.0:443 ssl;

    # ssl_certificate    /etc/ssl/certs/test.com-selfsigned.crt;
    # ssl_certificate_key    /etc/ssl/certs/test.com-selfsigned.key;
    ssl_certificate    /etc/ssl/certs/localhost+1.pem;
    ssl_certificate_key    /etc/ssl/certs/localhost+1-key.pem;

    client_max_body_size 0;

    root /usr/local/nginx/html;

    # server_name IP-ADDRESS; 
    server_name localhost;
    server_tokens off;
    ignore_invalid_headers off;

    location / {
        proxy_pass http://app:3000;
    }

    location /api-public/ {
        proxy_pass http://api-public/;

        add_header "Access-Control-Allow-Origin"  * always;
        add_header "Access-Control-Allow-Methods" "POST, PATCH, PUT, GET, DELETE, OPTIONS" always;
        add_header "Access-Control-Allow-Headers" "Authorization,Content-Type,Cache-Control" always;

        if ($request_method = 'OPTIONS') {
            return 200;
        }

        proxy_set_header Host $host;
        # proxy_set_header X-Forwarded-For $remote_addr;
        proxy_set_header X-Forwarded-Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        proxy_set_header X-Real-IP $remote_addr;
        # proxy_set_header X-Scheme $scheme;
        proxy_set_header X-API-Key $http_x_api_key;
        proxy_set_header secret_key $http_secret_key;

        access_log /var/log/nginx/api.access.log api;
        error_log /var/log/nginx/api.error.log;

    }
}

# upstream app {
#     ip_hash;
#     server scan_app:3000;
# }

# upstream api-internal {
#     ip_hash;
#     server scan_api:8000;
# }

upstream api-public {
    ip_hash;
    server scan_api_public:8000;
}
