# =================================================================================================
# Project: SCAN - Searching Chemical Actions and Networks
#          Hokkaido University (2021)
# ________________________________________________________________________________________________
# Authors: Jun Fujima (Former Lead Developer) [2021]
#          Mikael Nicander Kuwahara (Current Lead Developer) [2022-]
# ________________________________________________________________________________________________
# Description: This is the docker-compose file for the entire SCAN project that defines all 
#              services and more that is required in order to run the app.
# ------------------------------------------------------------------------------------------------
# Notes: 
# ------------------------------------------------------------------------------------------------
# References: 
# =================================================================================================
version: '3.5'

services:
  # MySQL, MariaDB version
  db:
    build: ./scan-mariadb/docker/db
    container_name: mysql_host
    env_file:
      - .env
    volumes:
      - ./scan-mariadb/docker/db/data:/var/lib/mysql
      - ./scan-mariadb/docker/db/my.cnf:/etc/mysql/conf.d/my.cnf
      - ./scan-mariadb/docker/db/init:/docker-entrypoint-initdb.d
      - ./scan-mariadb/docker/db/scripts:/scripts
    ports:
      - 127.0.0.1:3306:3306
    networks:
      - scan-network
    user: '${USERID}:${GROUPID}'

  # phpMyAdmin
  phpmyadmin:
    container_name: test_phpmyadmin
    image: phpmyadmin/phpmyadmin
    env_file:
      - .env
    ports:
      - 127.0.0.1:8080:80
    networks:
      - scan-network

  # Redis - in-memory data structure store
  redis:
    restart: always
    image: redis:6.0
    container_name: scan_redis
    expose:
      - "6379"
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "5"
    networks:
      - scan-network

  api_public:
    build:
      context: ./scan_api_public
      dockerfile: ./Dockerfile
    image: jfujima/scan/api_public
    container_name: scan_api_public
    env_file: .env
    ports:
      - "127.0.0.1:${PUBLIC_API_PORT}:8000"
    volumes:
      - ./scan_api_public/keyfiles:/keyfiles
    depends_on:
      - redis
    networks:
      - scan-network
    user: '${USERID}:${GROUPID}'

  api_internal:
    build:
      context: ./scan_api_internal
      dockerfile: ./Dockerfile
    image: jfujima/scan/api_internal
    container_name: scan_api_internal
    env_file: .env
    ports:
      - '127.0.0.1:${API_PORT}:8000'
    networks:
      - scan-network

  app:
    build:
      context: ./scan-app
      dockerfile: ./Dockerfile
      args:
        - NEXT_PUBLIC_SCAN_API_PROXY_ROOT=${NEXT_PUBLIC_SCAN_API_PROXY_ROOT}
        - NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=${NEXT_PUBLIC_GOOGLE_ANALYTICS_ID}
    image: jfujima/scan/app
    env_file: .env
    container_name: scan_app
    ports:
      - "0.0.0.0:3000:3000"
    networks:
      - scan-network

  # make sure the real path of the SSL Certs are correct in the last line under  volumes
  nginx:
    env_file: .env
    container_name: nginx
    image: nginx:alpine

    ports:
      - "0.0.0.0:80:80"
      - "0.0.0.0.:443:443"
    volumes:
      - ./scan-reverse-proxy/root:/usr/local/nginx/html
      - ./scan-reverse-proxy/conf.d:/etc/nginx/conf.d
      - ./scan-reverse-proxy/log:/var/log/nginx/
      - /Users/jfujima/cert:/etc/ssl/certs
    depends_on:
      app:
        condition: service_started
    networks:
      - scan-network
  
  observer:
    build:
      context: ./scan_data_observer
      dockerfile: ./Dockerfile
    container_name: observer
    env_file: .env
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./scan_data_observer/data/:/data
      - ./scan_data_observer/logs/:/logs
    networks:
      - scan-network

networks:
  scan-network:
    name: scan-network
    driver: bridge
