# =================================================================================================
# Project: SCAN - Searching Chemical Actions and Networks
#          Hokkaido University (2021)
# ________________________________________________________________________________________________
# Authors: Jun Fujima (Former Lead Developer) [2021]
#          Mikael Nicander Kuwahara (Current Lead Developer) [2022-]
# ________________________________________________________________________________________________
# Description: This is the mysql global config file for the SCAN Project.
# ------------------------------------------------------------------------------------------------
# Notes: 
# ------------------------------------------------------------------------------------------------
# References: 
# =================================================================================================

[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
#default-time-zone=Asia/Tokyo
wait_timeout            = 86400
max_allowed_packet      = 1G
innodb_buffer_pool_size = 1G

[client]
default-character-set=utf8mb4
