# =================================================================================================
# Project: SCAN - Searching Chemical Actions and Networks
#          Hokkaido University (2021)
# ________________________________________________________________________________________________
# Authors: Jun Fujima (Former Lead Developer) [2021]
#          Mikael Nicander Kuwahara (Current Lead Developer) [2022-]
# ________________________________________________________________________________________________
# Description: This is the Pip-environment file for the scan-api-public part of the 
#              SCAN Project.
#              This is a dependency and package manager for python.
# ------------------------------------------------------------------------------------------------
# Notes: 
# ------------------------------------------------------------------------------------------------
# References: 
# =================================================================================================

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pandas = "*"
pymysql = "*"
sqlalchemy = "*"
cryptography = "*"
pydantic = "*"
ulid-py = "*"
fastapi-simple-security = "*"
fastapi-pagination = {extras = ["all"], version = "*"}
fastapi-limiter = "*"
aioredis = "*"

[dev-packages]
black = "==20.8b1"
autoflake = "*"
isort = "*"

[requires]
python_version = "3.8"
