/*================================================================================================
// Project: SCAN - Searching Chemical Actions and Networks
//          Hokkaido University (2021)
//          Last Update: Q2 2023
//________________________________________________________________________________________________
// Authors: Mikael Nicander Kuwahara (Lead Developer) [2022-]
//          Jun Fujima (Former Lead Developer) [2021]
//________________________________________________________________________________________________
// Description: This is the terms.module CSS styles used by the Scan website.
//------------------------------------------------------------------------------------------------
// Notes: 
//------------------------------------------------------------------------------------------------
// References: 
//===============================================================================================*/

.content {
  margin: auto;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6,
.content hr {
  margin: 10pt 0pt 2pt 0pt;
}

.content p,
.content li,
.content pre {
  margin: 5pt 0pt 2pt 0pt;
  text-align: justify;
}

.content > ol {
  list-style: decimal;
  margin-left: 20px;
}

.content > ol ul {
  list-style: none;
}
